# This file managed by Puppet
global
    log stdout  format raw  local0  notice
    maxconn 4096
    daemon
    lua-load  /usr/local/share/lua/5.3/jwtverify.lua
    setenv  OAUTH_HOST   cloudflare_mock
    setenv  OAUTH_JWKS_URL http://|cloudflare_jwt|/cdn-cgi/access/certs
    setenv  OAUTH_ISSUER http://"${OAUTH_HOST}"

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor
    option  http-server-close
    stats   enable
    stats   uri /haproxyStats
    timeout  http-request 10s
    timeout  queue 1m
    timeout  connect 10s
    timeout  client 1m
    timeout  server 1m
    timeout  check 10s

frontend http-in
  bind *:8080
  mode http
  use_backend http-backend

backend http-backend
  mode http
  http-request deny unless { req.hdr(Cf-Access-Jwt-Assertion) -m found }
  http-request set-var(txn.audience) str("1234567890abcde1234567890abcde1234567890abcde")
  http-request lua.jwtverify
  http-request deny unless { var(txn.authorized) -m bool }
  http-request set-header custom-groups %[var(txn.http___schemas_groups)]
  server debug_http_listener debug_http_listener:80 check

backend cloudflare_jwt
  mode http
  default-server inter 10s rise 2 fall 2
  server "${OAUTH_HOST}" "${OAUTH_HOST}":80 check
